<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<characters>
		<character>
			<baudot>00000</baudot>
			<ascii>*</ascii>
		</character>
		<character>
			<baudot>00100</baudot>
			<ascii>_</ascii>
		</character>
		<character>
			<baudot>10111</baudot>
			<ascii>q</ascii>
		</character>
		<character>
			<baudot>10011</baudot>
			<ascii>w</ascii>
		</character>
		<character>
			<baudot>00001</baudot>
			<ascii>e</ascii>
		</character>
		<character>
			<baudot>01010</baudot>
			<ascii>r</ascii>
		</character>
		<character>
			<baudot>10000</baudot>
			<ascii>t</ascii>
		</character>
		<character>
			<baudot>10101</baudot>
			<ascii>y</ascii>
		</character>
		<character>
			<baudot>00111</baudot>
			<ascii>u</ascii>
		</character>
		<character>
			<baudot>00110</baudot>
			<ascii>i</ascii>
		</character>
		<character>
			<baudot>11000</baudot>
			<ascii>o</ascii>
		</character>
		<character>
			<baudot>10110</baudot>
			<ascii>p</ascii>
		</character>
		<character>
			<baudot>00011</baudot>
			<ascii>a</ascii>
		</character>
		<character>
			<baudot>00101</baudot>
			<ascii>s</ascii>
		</character>
		<character>
			<baudot>01001</baudot>
			<ascii>d</ascii>
		</character>
		<character>
			<baudot>01101</baudot>
			<ascii>f</ascii>
		</character>
		<character>
			<baudot>11010</baudot>
			<ascii>g</ascii>
		</character>
		<character>
			<baudot>10100</baudot>
			<ascii>h</ascii>
		</character>
		<character>
			<baudot>01011</baudot>
			<ascii>j</ascii>
		</character>
		<character>
			<baudot>01111</baudot>
			<ascii>k</ascii>
		</character>
		<character>
			<baudot>10010</baudot>
			<ascii>l</ascii>
		</character>
		<character>
			<baudot>10001</baudot>
			<ascii>z</ascii>
		</character>
		<character>
			<baudot>11101</baudot>
			<ascii>x</ascii>
		</character>
		<character>
			<baudot>01110</baudot>
			<ascii>c</ascii>
		</character>
		<character>
			<baudot>11110</baudot>
			<ascii>v</ascii>
		</character>
		<character>
			<baudot>11001</baudot>
			<ascii>b</ascii>
		</character>
		<character>
			<baudot>01100</baudot>
			<ascii>n</ascii>
		</character>
		<character>
			<baudot>11100</baudot>
			<ascii>m</ascii>
		</character>
		<character>
			<baudot>01000</baudot>
			<ascii>,</ascii>
		</character>
		<character>
			<baudot>00010</baudot>
			<ascii>-</ascii>
		</character>
		<character>
			<baudot>11011</baudot>
			<ascii>!</ascii>
		</character>
		<character>
			<baudot>11111</baudot>
			<ascii>.</ascii>
		</character>
	</characters>
	<pindata>110010000011111110101001001001101010111011011011101001111110010000000001010001101100000010010110001111100010101100011110001011101000100011111111111010000010010101010111001000010100101100001101011101101011011001000110111111010000000110110000010101100100010000111000100111100110001110111101010011001011010011011010011110111101111001001001010111110001101000100011101001011000110100001101011000000110110110100100110111101011101111000000101000111001100010110000100110001001000101011001001110111010001011110</pindata>
</config>
